body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(rgb(47, 180, 233), rgb(171, 56, 142));
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#me {
    width: 150px;
    border-radius: 50%;
    border: 6px solid rgb(192, 106, 171);
    margin-bottom: 10px;
}

#bday_age{
    background: rgb(192, 106, 171);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px 0 10px 0;
}

#bday_date{
    background: rgb(192, 106, 171);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift_section
{
    margin-top: 50px;
}

.gift_title
{
    margin-bottom: 10px;
}

.gift_hint
{
    margin-top: 0;
}

.gift_img
{
    width: 400px;
    height: 400px;
    border: 5px solid white;
    border-radius: 10px;
    background-image: url("gift-cover.jpg");
    background-size: cover;
    margin: 0 auto;
}

#gift_img_cheers{
    height: 200px;
}

#gift_img_happy:hover{
    background: url("images/happy.gif");
}

#gift_img_hot:hover{
    background: url("images/hot.gif");
    background-size: cover;
}

#gift_img_genius:hover{
    background: url("images/genius.gif");
    background-size: cover;
}

#gift_img_badass:hover{
    background: url("images/badass.gif");
    background-size: cover;
}

#gift_img_cheers:hover{
    background: url("images/cheers.gif");
    background-size: cover;
}

#footer
{
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a{
    color: white;
}



